<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular7icon</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <div class="modal-dialog text-center">
    <div class="col-sm-9 main-section">
      <div class="modal-content">
        <div class="col-12 user-img">
          <img src="../../assets/images/usericon.png" alt="">
        </div>
        <div class="col-12 form-input">
          <form action="">
            <div class="form-group">
              <input type="email" placeholder="Enter Email" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Enter Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Login</button>&nbsp;
              <button type="submit" class="btn btn-success">Sign Up</button>
          </form>
          <div class="col-12 forgot">
            <a href="#">Forgot Password</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
